    <% if @article %>  
      <p>Are you sure you want to delete the following note: <em>"<%= @article.title %>"</em>?</p>  
      <form action="/<%= @article.id %>" method="post">  
        <input type="hidden" name="_method" value="delete">  
        <input type="submit" value="Yes, Delete It!">  
        <a href="/<%= @article.id %>">Cancel</a>  
      </form>  
    <% else %>  
      <p>Article not found.</p>  
    <% end %>  